<c-card class="mb-4">
  <c-card-header>
    <c-row>
      <c-col md="10">
          Sorties
      </c-col>
      <c-col md="2">
        <button cButton color="primary" variant="outline" class="float-end" size="sm"
          [routerLink]="['/mouvement/sortie/nouvelle']">Ajouter</button>
      </c-col>
    </c-row>
  </c-card-header>
  <c-card-body>
    <div *ngIf="sorties && sorties.length > 0">
      <table [striped]="true" cTable>
        <thead>
          <tr>
            <th scope="col">N°</th>
            <th scope="col">Date</th>
            <th scope="col">N° sortie</th>
            <th scope="col">Ordonnateur</th>
            <th scope="col">Bénéficiaire</th>
            <th scope="col">Détenteur</th>
            <th scope="col">Magasin</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let sortie of sorties; index as i">
            <td><span>{{i + 1}}</span></td>
            <td>
              <span>{{sortie.dateSortie}}</span>
            </td>
            <td>
              <span>{{sortie.numeroSortie}}</span>
            </td>
            <td>
              <span>{{sortie.ordonnateur?.matricule}}</span>
            </td>
            <td>
              <span>{{sortie.beneficiaire?.raisonSociale}}</span>
            </td>
            <td>
              <span>{{sortie.detenteur?.matricule}}</span>
            </td>
            <td>
              <span>{{sortie.magasin?.nomMagasin}}</span>
            </td>
            <td>
              <button class="btn btn-outline-primary btn-sm" type="button" 
                (click)="editItem(sortie)">
                <svg cIcon name="cilPen" size="sm"></svg>
              </button>
              <button class="btn btn-outline-info btn-sm" type="button" style="margin-left: 2px;" 
                (click)="showItem(sortie)">
                <i class="fa fa-eye"></i>
              </button>
              <button class="btn btn-outline-danger btn-sm" type="button" style="margin-left: 2px;"
                (click)="confirmDeleteItem(sortie)">
                <i class="fa fa-remove"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="sorties && sorties.length == 0">
        <c-alert color="warning">Aucun enregistrement trouvé!</c-alert>
    </div>
  </c-card-body>
</c-card>
  
  