<div class="card">
    <div class="modal-header bg-success text-white">
        <h4 class="modal-tile">Ajouter/Modifier un détenteur</h4>
        <button style="color: white;" cButton class="close btn-outline-danger bg-danger" aria-label="Close" (click)="close();"> 
            <span aria-hidden="true">X</span>
        </button>
    </div>
    <form name="addEditForm" role="form" novalidate #addEditForm="ngForm">
        <div class="modal-body">
            <c-row>
                <c-col md="6">
                    <label cLabel for="field_matricule">Matricule :</label>
                    <input cFormControl sizing="sm" id="field_matricule" type="text" 
                        [(ngModel)]="detenteur.matricule" name="matricule"/>
                </c-col>
                <c-col md="6">
                    <label cLabel for="field_civilite">Civilite :</label>
                    <input cFormControl sizing="sm" id="field_civilite" type="text" 
                        [(ngModel)]="detenteur.civilite" name="civilite"/>
                </c-col>
            </c-row>
            <c-row>
                <c-col md="6">
                    <label cLabel for="field_nom">Nom :</label>
                    <input cFormControl sizing="sm" id="field_nom" type="text" 
                        [(ngModel)]="detenteur.nom" name="nom"/>
                </c-col>
                <c-col md="6">
                    <label cLabel for="field_prenom">Prenom :</label>
                    <input cFormControl sizing="sm" id="field_prenom" type="text" 
                        [(ngModel)]="detenteur.prenom" name="prenom"/>
                </c-col>
            </c-row>
            <c-row>
                <c-col md="6">
                    <label cLabel for="field_fonction">Fonction :</label>
                    <input cFormControl sizing="sm" id="field_fonction" type="text" 
                        [(ngModel)]="detenteur.fonction" name="fonction"/>
                </c-col>
                <c-col md="6">
                    <label cLabel for="field_telephone">Téléphone :</label>
                    <input cFormControl sizing="sm" id="field_telephone" type="text" 
                        [(ngModel)]="detenteur.telephone" name="telephone"/>
                </c-col>
            </c-row>
            <c-row>
                <label cLabel for="field_email">Email :</label>
                <input cFormControl sizing="sm" id="field_email" type="text"
                   [(ngModel)]="detenteur.email" name="email"/>
            </c-row>
        </div>
        <div class="modal-footer">
            <button cButton color="success" variant="outline" class="float-end" size="sm"
                (click)="save()">Enregistrer</button>
        </div>
    </form>
</div>