<c-card class="mb-4">
  <c-card-header>
    <c-row>
      <c-col md="10">
        Fournisseur
      </c-col>
      <c-col md="2" *appHasAnyAuthority="droit">
        <button cButton color="primary" variant="outline" class="float-end" size="sm"
          (click)="openAddEditModal()">Ajouter</button>
      </c-col>
    </c-row>
  </c-card-header>
  <c-card-body>
    <div *ngIf="fournisseurs && fournisseurs.length > 0">
      <table [striped]="true" cTable>
        <thead>
          <tr>
            <th scope="col">N°</th>
            <th scope="col">Sigle</th>
            <th scope="col">Libelle</th>
            <th scope="col">N°IFU</th>
            <th scope="col">Contact</th>
            <th scope="col">Email</th>
            <th scope="col">Personne ressource</th>
            <th scope="col" *appHasAnyAuthority="droit">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let fournisseur of fournisseurs
            | paginate
                : {
                    itemsPerPage: itemsPerPage,
                    currentPage: page,
                    totalItems: totalItems
                  }; index as i">
            <td><span>{{i + 1}}</span></td>
            <td>
              <span>{{fournisseur.sigle}}</span>
            </td>
            <td>
              <span>{{fournisseur.libelle}}</span>
            </td>
            <td>
              <span>{{fournisseur.numeroIfu}}</span>
            </td>
            <td>
              <span>{{fournisseur.telephoneFix}}</span>
            </td>
            <td>
              <span>{{fournisseur.email}}</span>
            </td>
            <td>
              <span>{{fournisseur.nomCompletPersonneRessource}} : {{fournisseur.telephonePersonneRessource}}</span>
            </td>
            <td *appHasAnyAuthority="droit">
              <button class="btn btn-outline-primary btn-sm" type="button" (click)="openAddEditModal(fournisseur)">
                <svg cIcon name="cilPen" size="sm"></svg>
              </button>
              <button class="btn btn-outline-info btn-sm" type="button" style="margin-left: 2px;" 
                (click)="openDetailModal(fournisseur)">
                <i class="fa fa-eye"></i>
              </button>
              <button class="btn btn-outline-danger btn-sm" type="button" style="margin-left: 2px;"
                (click)="confirmDeleteItem(fournisseur)">
                <i class="fa fa-remove"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-end">
        <pagination-controls
          previousLabel= "{{previousLabel}}"
          nextLabel= "{{nextLabel}}"
          (pageChange)="onTableDataChange($event)"
        >
        </pagination-controls>
      </div>
    </div>
    <div *ngIf="fournisseurs && fournisseurs.length == 0">
      <c-alert color="warning">Aucun enregistrement trouvé!</c-alert>
    </div>
  </c-card-body>
</c-card>
