<c-card class="mb-4">
    <c-card-header>Dépots</c-card-header>
    <c-card-body>
      <table [striped]="true" cTable>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Sigle</th>
            <th scope="col">Libelle</th>
            <th scope="col">telephoneFix</th>
            <th scope="col">telephoneMobile</th>
            <th scope="col">email</th>
            <th scope="col">adresse</th>
            <th scope="col">numeroIfu</th>
            <th scope="col">Personne Ressource</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let fournisseur of fournisseurs; index as i">
            <td><span>{{i}}</span></td>
            <td><span>{{fournisseur.sigle}}</span></td>
            <td><span>{{fournisseur.libelle}}</span></td>
            <td><span>{{fournisseur.telephoneFix}}</span></td>
            <td><span>{{fournisseur.telephoneMobile}}</span></td>
            <td><span>{{fournisseur.email}}</span></td>
            <td><span>{{fournisseur.adresse}}</span></td>
            <td><span>{{fournisseur.numeroIfu}}</span></td>
            <td><span>{{fournisseur.nomCompletPersonneRessource}} : {{fournisseur.telephonePersonneRessource}}</span></td>
          </tr>
        </tbody>
      </table>
    </c-card-body>
  </c-card>