<div class="card">
    <div class="modal-header text-white">
        <h4 class="modal-tile">Ajouter/Modifier une ligne d'entrée</h4>
        <button style="color: white;" cButton class="close btn-outline-danger bg-danger" aria-label="Close" (click)="close();"> 
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form name="addEditForm" role="form" novalidate #addEditForm="ngForm">
        <div class="modal-body">
            <c-row>
                <c-col md="6">
                    <label cLabel for="field_medaille">Selectionner la médaille :</label>
                    <select aria-label="Small select example" cSelect sizing="sm" [(ngModel)]="ligneEntree.medaille" name="medaille">
                        <option *ngFor="let medaille of medailles" [ngValue]="medaille">{{medaille.nomComplet}}</option>
                    </select>
                </c-col>
                <c-col md="6">
                    <label cLabel for="field_raisonSociale">Quantité :</label>
                    <input cFormControl sizing="sm" id="field_raisonSociale" type="text" 
                        [(ngModel)]="ligneEntree.quantiteLigne" name="raisonSociale" (ngModelChange)="calculerMontant($event)"/>
                </c-col>
            </c-row>
            <c-row>
                <c-col md="6">
                    <label cLabel for="field_telephoneFix">Prix unitaire :</label>
                    <input cFormControl sizing="sm" id="field_telephoneFix" type="text" 
                        [(ngModel)]="ligneEntree.prixUnitaire" name="telephoneFix" (ngModelChange)="calculerMontant($event)"/>
                </c-col>
                <c-col md="6">
                    <label cLabel for="field_field_telephoneMobile">Montant :</label>
                    <input cFormControl sizing="sm" id="field_field_telephoneMobile" type="text" 
                        [(ngModel)]="ligneEntree.montantLigne" name="telephoneMobile" [readOnly]="true"/>
                </c-col>
            </c-row>
            <!-- <c-row>
                <c-col md="12">
                    <c-form-check class="mt-2">
                        <input cFormCheckInput id="field_isCloseEntree" name="isCloseEntree" type="checkbox" 
                            [(ngModel)]="ligneEntree.isCloseEntree"/>
                        <label cFormCheckLabel for="gridCheck1">Clôturer l'entrée</label>
                    </c-form-check>
                </c-col>
            </c-row> -->
        </div>
        <div class="modal-footer">
            <button cButton color="success" variant="outline" class="float-end" size="sm"
                (click)="save()">Valider</button>
        </div>
    </form>
</div>