
// Pagination
ngb-pagination ::ng-deep ul > li:not(.active) > a {
  color: #419456 !important;
  text-decoration: none !important;
  border: solid 1px white !important;
  font-weight: 500 !important;
  font-size: 18px !important;
  padding: 6px 12px !important;
}

ngb-pagination ::ng-deep ul > li.active > a {
  background-color: #265f2e !important;
  text-decoration: none !important;
  border: solid 1px white !important;
  border-radius: 5px !important;
  font-weight: 500 !important;
  font-size: 18px !important;
  padding: 6px 12px !important;
}

c-card-header{
  background-color: #538136;
  c-row{
    color: #FFF;
    text-align: center;
    text-transform: uppercase;
    font-size: large;
    button{
      background-color: #FFF;
      color: #538136;
      font-weight: bold;
    }
  }
}
table thead tr th{
  color: #538136;
}
