<div class="card">
    <div class="modal-header text-white">
        <h4 class="modal-tile">Ajouter/Modifier un grade</h4>
        <button style="color: white;" cButton class="close btn-outline-danger bg-danger" aria-label="Close" (click)="close();">
            <span aria-hidden="true">X</span>
        </button>
    </div>
    <form name="addEditForm" role="form" novalidate #addEditForm="ngForm">
        <div class="modal-body">
            <c-row>
              <c-col md="6">
                <label cLabel for="typeGrade">Code :</label>
                <ng-select [items]="codes"
                           name="code"
                           id="code"
                           bindValue="code"
                           bindLabel="libelle"
                           [multiple]=false
                           [(ngModel)]="grade.code">
                </ng-select>
              </c-col>
              <c-col md="6">
                <label cLabel for="typeGrade">Type grade :</label>
                <ng-select [items]="typesGrades"
                           name="typeGrade"
                           id="typeGrade"
                           [multiple]=false
                           [(ngModel)]="grade.typeGrade">
                </ng-select>
              </c-col>
                <c-col md="6">
                    <label cLabel for="field_libelle">Libelle :</label>
                    <input cFormControl sizing="sm" id="field_libelle" type="text"
                        [(ngModel)]="grade.libelle" name="libelle"/>
                </c-col>
              <c-col md="6">
                <label cLabel for="field_description">Description :</label>
                <textarea cFormControl sizing="sm" id="field_description" type="text" [(ngModel)]="grade.description"
                          name="description"></textarea>
              </c-col>
            </c-row>
        </div>
        <div class="modal-footer">
            <button cButton color="success" variant="outline" class="float-end" size="sm"
                (click)="save()">Enregistrer</button>
        </div>
    </form>
</div>
