<c-card class="mb-4">
    <c-card-header class="text-white">
      <c-row>
        <c-col md="10">
          Ajouter/Modifier une sortie
        </c-col>
        <c-col md="2">
          <button cButton color="info" variant="outline" class="float-end" ize="sm"
            [routerLink]="['/mouvement/sortie']">Retour</button>
        </c-col>
      </c-row>
    </c-card-header>
    <c-card-body>
        <form name="addEditForm" role="form" novalidate #addEditForm="ngForm">
            <div class="modal-body">
                <c-row>
                    <c-col md="4">
                        <fieldset class="mb-3 p-2" style="border: solid 1.5px; border-radius: 3px;">
                            <legend cLabel="col" class="pt-0">Informations sur la sortie</legend>
                            <c-row>
                                <c-col md="12">
                                    <label cLabel for="field_ordonnateur">Selectionner l'ordonnateur :</label>
                                    <select aria-label="Small select example" cSelect sizing="sm" 
                                        [(ngModel)]="ordonnateurId" name="ordonnateur" id="field_ordonnateur">
                                        <option *ngFor="let ordonnateur of ordonnateurs" [ngValue]="ordonnateur.idOrdonnateur">{{ordonnateur.matricule + ' / ' + ordonnateur.nom + ' / ' + ordonnateur.prenom}}</option>
                                    </select>
                                </c-col>
                                <c-col md="12">
                                    <label cLabel for="field_beneficiaire">Selectionner la structure bénéficiaire :</label>
                                    <select aria-label="Small select example" cSelect sizing="sm" 
                                        [(ngModel)]="selectedBeneficiaireId" name="beneficiaire" id="field_beneficiaire">
                                        <option *ngFor="let beneficiaire of beneficiaires" [ngValue]="beneficiaire.idBeneficiaire">{{beneficiaire.raisonSociale}}</option>
                                    </select>
                                </c-col>
                                <c-col md="12">
                                    <label cLabel for="field_detenteur">Selectionner le représentant :</label>
                                    <c-row>
                                        <c-col md="10">
                                            <select aria-label="Small select example" cSelect sizing="sm" 
                                                [(ngModel)]="selectedDetenteurId" name="detenteur" id="field_detenteur">
                                                <option *ngFor="let detenteur of detenteurs" [ngValue]="detenteur.idDetenteur">{{ detenteur.matricule + ' / ' + detenteur.nom + '/' + detenteur.prenom}}</option>
                                            </select>
                                        </c-col>
                                        <c-col md="2">
                                            <button class="btn btn-outline-primary btn-sm" type="button" title="Ajouter un représentant" (click)="addRepresentant()">
                                                <i class="fa fa-plus"></i>
                                          </button>
                                        </c-col>
                                    </c-row>
                                </c-col>
                                <c-col md="12">
                                    <label cLabel for="field_magasin">Selectionner le magasin :</label>
                                    <select aria-label="Small select example" cSelect sizing="sm" 
                                        [(ngModel)]="selectedMagasinId" name="magasin" id="field_magasin">
                                        <option *ngFor="let magasin of magasins" [ngValue]="magasin.idMagasin">{{magasin.nomMagasin}}</option>
                                    </select>
                                </c-col>
                                <c-col md="12">
                                    <label cLabel for="field_motifSortie">Selectionner le motif de sortie :</label>
                                    <select aria-label="Small select example" cSelect sizing="sm" 
                                        [(ngModel)]="sortie.motifSortie" name="acquisition" id="field_motifSortie">
                                        <option *ngFor="let motifSortie of referentials?.motifsSortie" [ngValue]="motifSortie?.valeur">{{motifSortie?.libelle}}</option>
                                    </select>
                                </c-col>
                                <c-col md="12">
                                    <label cLabel for="field_dateSortie">Date de la sortie :</label>
                                    <input cFormControl sizing="sm" id="field_dateSortie" type="date" 
                                        [(ngModel)]="sortie.dateSortie" name="dateSortie"/>
                                </c-col>
                            </c-row>
                        </fieldset>
                    </c-col>
                    <c-col md="8">
                        <c-row>
                            <c-col md="12">
                                <fieldset class="mb-3 p-2" style="border: solid 1.5px; border-radius: 3px;">
                                    <legend cLabel="col" class="pt-0">Lignes de la sortie</legend>
                                    <table [striped]="true" cTable>
                                        <thead>
                                        <tr>
                                            <th scope="col">N°</th>
                                            <th scope="col">Médaille</th>
                                            <th scope="col">Quantité</th>
                                            <th scope="col">
                                                <button cButton color="primary" variant="outline" size="sm"
                                                    (click)="openAddEditModal()">Nouvelle ligne</button>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let ligne of sortie.ligneSorties; index as i">
                                            <td><span>{{i + 1}}</span></td>
                                            <td>
                                            <span>{{ligne.medaille?.nomComplet}}</span>
                                            </td>
                                            <td>
                                            <span>{{ligne.quantiteLigne}}</span>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-outline-primary btn-sm" (click)="openAddEditModal(ligne)">
                                                    <svg cIcon name="cilPen" size="sm"></svg>
                                                </button>
                                                <button type="button" class="btn btn-outline-danger btn-sm" style="margin-left: 2px;"
                                                    (click)="confirmRemoveLine(ligne)">
                                                    <i class="fa fa-remove"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </fieldset>
                            </c-col>
                            <c-col md="12">
                                <fieldset class="mb-3 p-2" style="border: solid 1.5px; border-radius: 3px;">
                                  <legend cLabel="col" class="pt-0">Pièces justificatives</legend>
                                  <table [striped]="true" cTable>
                                    <thead>
                                      <tr>
                                        <th scope="col">N°</th>
                                        <th scope="col">Type pièce</th>
                                        <th scope="col">Référence</th>
                                        <th scope="col">Pièce</th>
                                        <th scope="col">
                                            <button cButton color="primary" variant="outline" size="sm"
                                                (click)="openAddEditPjModal()">Ajouter</button>
                                        </th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr *ngFor="let pj of pieceJointes; index as i">
                                        <td><span>{{i + 1}}</span></td>
                                        <td>
                                          <span>{{pj.typePiece}}</span>
                                        </td>
                                        <td>
                                          <span>{{pj.referencePiece}}</span>
                                        </td>
                                        <td>
                                          <span>{{pj.lienPiece}}</span>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-outline-primary btn-sm" (click)="onPrevisualizePj(pj)"
                                                *ngIf="pj.fileBase64Content">
                                                <i class="fa fa-eye"></i>
                                            </button>
                                            <button type="button" class="btn btn-outline-primary btn-sm" style="margin-left: 2px;" (click)="openAddEditPjModal(pj)">
                                                <svg cIcon name="cilPen" size="sm"></svg>
                                            </button>
                                            <button type="button" class="btn btn-outline-danger btn-sm" style="margin-left: 2px;"
                                                (click)="removePj(pj)">
                                                <i class="fa fa-remove"></i>
                                            </button>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </fieldset>
                              </c-col>
                        </c-row>
                    </c-col>
                </c-row>
            </div>
            <div class="modal-footer">
                <button cButton color="success" variant="outline" class="float-end" size="sm"
                    (click)="save()">Enregistrer</button>
            </div>
        </form>   
    </c-card-body>
  </c-card>
  