<style>
  .login-card {
    background: linear-gradient(0deg, #44873c, rgba(90, 100, 58, 0.30)), url(assets/images/medaille.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
  }
</style>
<div class="section-authentication-signin min-vh-100 d-flex flex-row align-items-center ">
  <c-container>
    <c-row class="justify-content-center ">
      <c-col md="8">
        <c-card-group>
          <c-card class="p-4">
            <c-card-body>
              <form cForm>
                <h1>CONNEXION</h1>
                <p class="alert alert-danger" *ngIf="error">Les identifiants sont incorrects</p>
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                  </span>
                  <input autoComplete="login" [(ngModel)]="user.login" name="login" cFormControl placeholder="Nom d'utilisateur" />
                </c-input-group>
                <c-input-group class="mb-4">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                  <input
                    autoComplete="current-password"
                    cFormControl
                    placeholder="Mot de passe" [(ngModel)]="user.password" name="password"
                    type="password"
                  />
                </c-input-group>
                <c-row>
                  <c-col md="6">
                    <button cButton class="px-4" (click)="login()" color="primary">
                      <i class="fa fa-sign-in"></i> Se connecter
                    </button>
                  </c-col>
                  <!--<c-col class="text-right" xs="6">
                    <button cButton class="px-0" color="link">
                     Mot de passe oublié?
                    </button>
                  </c-col>-->
                </c-row>
              </form>
            </c-card-body>
          </c-card>
          <c-card [ngStyle]="{'width.%': 20}" class="login-card">
            <c-card-body class="text-center">
              <div>
                <h2></h2>
                <p>
                </p>
              </div>
            </c-card-body>
          </c-card>
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>
