<c-card class="mb-4">
    <c-card-header>
      <c-row>
        <c-col md="10">
          Entrées
        </c-col>
        <c-col md="2">
          <button cButton color="primary" variant="outline" class="float-end" size="sm"
            [routerLink]="['/mouvement/entree/nouvelle']">Ajouter</button>
        </c-col>
      </c-row>
    </c-card-header>
    <c-card-body>
      <table [striped]="true" cTable>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">N° commande</th>
            <th scope="col">Exercice budgétaire</th>
            <th scope="col">Magasin</th>
            <th scope="col">Fournisseur</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let entree of entrees; index as i">
            <td><span>{{i}}</span></td>
            <td>
              <span>{{entree.dateEntree}}</span>
            </td>
            <td>
              <span>{{entree.numeroCmd}}</span>
            </td>
            <td>
              <span>{{entree.exerciceBudgetaire}}</span>
            </td>
            <td>
              <span>{{entree.magasin}}</span>
            </td>
            <td>
              <span>{{entree.fournisseur}}</span>
            </td>
            <td>
              <button cButton color="primary" variant="outline" size="sm">
                <svg cIcon name="cilPen" size="sm"></svg>
              </button>
              <button cButton color="info" variant="outline" size="sm">
                <svg cIcon name="cilEye" size="sm"></svg>
              </button>
              <button cButton color="danger" variant="outline" size="sm">
                <svg cIcon name="cilX" size="sm"></svg>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </c-card-body>
  </c-card>
  