<c-card class="mb-4">
    <c-card-header>
      <c-row>
        <c-col md="10">
            Entrées
        </c-col>
        <c-col md="2">
          <button cButton color="primary" variant="outline" class="float-end" size="sm"
            [routerLink]="['/mouvement/entree/nouvelle']">Ajouter</button>
        </c-col>
      </c-row>
    </c-card-header>
    <c-card-body>
        <div class="table-responsive" *ngIf="entrees && entrees.length > 0">
            <table [striped]="true" cTable>
                <thead>
                <tr>
                    <th scope="col">N°</th>
                    <th scope="col">Date</th>
                    <th scope="col">N° entrée</th>
                    <th scope="col">Exercice budgétaire</th>
                    <th scope="col">Magasin</th>
                    <th scope="col">Fournisseur</th>
                    <th scope="col">Statut</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let entree of entrees
                        | paginate
                        : {
                            itemsPerPage: itemsPerPage,
                            currentPage: page,
                            totalItems: totalItems
                            }; index as i">
                        <td><span>{{i + 1}}</span></td>
                        <td>
                            <span>{{entree.dateEntree | date: 'dd/MM/yyyy'}}</span>
                        </td>
                        <td>
                            <span>{{entree.numeroCmd}}</span>
                        </td>
                        <td>
                            <span>{{entree.exerciceBudgetaire}}</span>
                        </td>
                        <td>
                            <span>{{entree.magasin?.nomMagasin}}</span>
                        </td>
                        <td>
                            <span>{{entree.fournisseur?.libelle}}</span>
                        </td>
                        <td>
                            <span *ngIf="entree.status == referentials.mvtStatus[0].valeur">
                                <c-badge color="warning">{{getStatusLabel(entree.status!)}}</c-badge>
                            </span>
                            <span *ngIf="entree.status == referentials.mvtStatus[1].valeur">
                                <c-badge color="success">{{getStatusLabel(entree.status!)}}</c-badge>
                            </span>
                            <span *ngIf="entree.status == referentials.mvtStatus[2].valeur">
                                <c-badge color="danger">{{getStatusLabel(entree.status!)}}</c-badge>
                            </span>
                        </td>
                        <td>
                            <button [disabled]="entree.status == referentials.mvtStatus[1].valeur"
                                class="btn btn-outline-primary btn-sm" type="button" (click)="editItem(entree)">
                                <svg cIcon name="cilPen" size="sm"></svg>
                              </button>
                              <button class="btn btn-outline-info btn-sm" type="button" style="margin-left: 2px;" 
                                (click)="showItem(entree)">
                                <i class="fa fa-eye"></i>
                              </button>
                              <button [disabled]="entree.status != referentials.mvtStatus[1].valeur" class="btn btn-outline-success btn-sm" 
                                type="button" style="margin-left: 2px;" (click)="imprimer(entree)">
                                <i class="fa fa-print"></i>
                              </button>
                              <button [disabled]="entree.status == referentials.mvtStatus[1].valeur" class="btn btn-outline-danger btn-sm" 
                                type="button" style="margin-left: 2px;" (click)="confirmDeleteItem(entree)">
                                <i class="fa fa-remove"></i>
                              </button>
                              <button class="btn btn-outline-success btn-sm" type="button" style="margin-left: 2px;"
                                (click)="confirmDeleteItem(entree)">
                                <i class="fa fa-print"></i>
                              </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-end">
                <pagination-controls
                  previousLabel= "{{previousLabel}}"
                  nextLabel= "{{nextLabel}}"
                  (pageChange)="onTableDataChange($event)"
                >
                </pagination-controls>
            </div>
        </div>
        <div *ngIf="entrees && entrees.length == 0">
            <c-alert color="warning">Aucun enregistrement trouvé!</c-alert>
        </div>
    </c-card-body>
  </c-card>
  