<c-card class="mb-4">
  <c-card-header>
    <c-row>
      <c-col md="10">
        Profils
      </c-col>
      <c-col md="2">
        <button cButton color="primary" variant="outline" class="float-end btn-sm" (click)="openAddEditModal()">Ajouter</button>
      </c-col>
    </c-row>
  </c-card-header>
  <c-card-body>
    <table [striped]="true" cTable>
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Code</th>
        <th scope="col">libelle</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let profil of profils; index as i">
        <td><span>{{i+1}}</span></td>
        <td width="10%" >
          <span>{{profil.code}}</span>
        </td>
        <td width="70%">
          <span>{{profil.libelle}}</span>
        </td>
        <td width="20%">
          <button class="btn btn-outline-primary btn-sm" type="button" (click)="openAddEditModal(profil)">
            <svg cIcon name="cilPen" size="sm"></svg>
          </button>
          <button class="btn btn-outline-info btn-sm" type="button" style="margin-left: 2px;"
                  (click)="openModalDetail(profil)">
            <i class="fa fa-eye"></i>
          </button>
          <button class="btn btn-outline-danger btn-sm" type="button" style="margin-left: 2px;"
                  (click)="removeProfil(profil)">
            <i class="fa fa-remove"></i>
          </button>
      </tr>
      </tbody>
    </table>
  </c-card-body>
</c-card>
