<c-card class="mb-4">
    <c-card-header>
      <c-row>
        <c-col md="10">
          Détenteurs
        </c-col>
        <c-col md="2">
          <button cButton color="primary" variant="outline" class="float-end" size="sm"
            (click)="openAddEditModal()">Ajouter</button>
        </c-col>
      </c-row>
    </c-card-header>
    <c-card-body>
      <table [striped]="true" cTable>
        <thead>
          <tr>
            <th scope="col">N°</th>
            <th scope="col">Matricule</th>
            <th scope="col">Civilite</th>
            <th scope="col">Nom</th>
            <th scope="col">Prenom</th>
            <th scope="col">Fonction</th>
            <th scope="col">Telephone</th>
            <th scope="col">Email</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let detenteur of detenteurs; index as i">
            <td><span>{{start + i + 1}}</span></td>
            <td><span>{{detenteur.matricule}}</span></td>
            <td><span>{{detenteur.civilite}}</span></td>
            <td><span>{{detenteur.nom}}</span></td>
            <td><span>{{detenteur.prenom}}</span></td>
            <td><span>{{detenteur.fonction}}</span></td>
            <td><span>{{detenteur.telephone}}</span></td>
            <td><span>{{detenteur.email}}</span></td>
            <td>
              <button class="btn btn-outline-primary btn-sm" type="button" (click)="openAddEditModal(detenteur)">
                <svg cIcon name="cilPen" size="sm"></svg>
              </button>
              <button class="btn btn-outline-info btn-sm" type="button" style="margin-left: 2px;" 
                (click)="openDetailModal(detenteur)">
                <i class="fa fa-eye"></i>
              </button>
              <button class="btn btn-outline-danger btn-sm" type="button" style="margin-left: 2px;"
                (click)="confirmDeleteItem(detenteur)">
                <i class="fa fa-remove"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <nav aria-label="Pagination">
        <ul class="pagination">
            <li class="page-item" [ngClass]="{'disabled' : currentPage==1}" (click)="changePage(currentPage-1)">
              <a class="page-link" href="javascript:void(0)">{{previousPage}}</a>
            </li>
            <li 
              *ngFor="let page of pages" 
              class="page-item" 
              [ngClass]="{'active' : page == currentPage}"
              (click)="changePage(page)"
              >
              <a class="page-link" href="javascript:void(0)">{{page}}</a>
            </li>
            <li class="page-item" [ngClass]="{'disabled' : currentPage==totalPages}" (click)="changePage(currentPage+1)">
              <a class="page-link" href="javascript:void(0)">{{nextPage}}</a>
            </li>
        </ul>
    </nav>
    </c-card-body>
  </c-card>