<c-card class="mb-4">
    <c-card-header>
      <c-row>
        <c-col md="10">
          Détenteurs
        </c-col>
        <c-col md="2">
          <button cButton color="primary" variant="outline" class="float-end" size="sm"
            (click)="openAddEditModal()">Ajouter</button>
        </c-col>
      </c-row>
    </c-card-header>
    <c-card-body>
      <table [striped]="true" cTable>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Matricule</th>
            <th scope="col">Civilite</th>
            <th scope="col">Nom</th>
            <th scope="col">Prenom</th>
            <th scope="col">Fonction</th>
            <th scope="col">Telephone</th>
            <th scope="col">Email</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let detenteur of detenteurs; index as i">
            <td><span>{{i}}</span></td>
            <td><span>{{detenteur.matricule}}</span></td>
            <td><span>{{detenteur.civilite}}</span></td>
            <td><span>{{detenteur.nom}}</span></td>
            <td><span>{{detenteur.prenom}}</span></td>
            <td><span>{{detenteur.fonction}}</span></td>
            <td><span>{{detenteur.telephone}}</span></td>
            <td><span>{{detenteur.email}}</span></td>
            <td>
              <button cButton color="primary" variant="outline" size="sm">
                <svg cIcon name="cilPen" size="sm"></svg>
              </button>
              <button cButton color="info" variant="outline" size="sm">
                <svg cIcon name="cilEye" size="sm"></svg>
              </button>
              <button cButton color="danger" variant="outline" size="sm">
                <svg cIcon name="cilX" size="sm"></svg>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </c-card-body>
  </c-card>