<c-card class="mb-4">
    <c-card-header class="text-white">
      <c-row>
        <c-col md="10">
          Ajouter/Modifier une entrée
        </c-col>
        <c-col md="2">
          <button cButton color="info" variant="outline" class="float-end" size="sm"
            [routerLink]="['/mouvement/entree']">Retour</button>
        </c-col>
      </c-row>
    </c-card-header>
    <c-card-body>
        <form name="addEditForm" role="form" novalidate #addEditForm="ngForm">
            <div class="modal-body">
                <c-row>
                    <c-col md="4">
                        <fieldset class="mb-3 p-2" style="border: solid 1.5px; border-radius: 3px;">
                            <legend cLabel="col" class="pt-0">Informations sur l'entrée</legend>
                            <c-row>
                                <c-col md="12">
                                    <label cLabel for="field_fournisseur">Selectionner le fournisseur :</label>
                                    <select aria-label="Small select example" cSelect sizing="sm" 
                                        [(ngModel)]="selectedFournisseurId" name="fournisseur" id="field_fournisseur">
                                        <option *ngFor="let fournisseur of fournisseurs" [ngValue]="fournisseur.idFournisseur">{{ fournisseur.libelle }}</option>
                                    </select>
                                </c-col>
                                <c-col md="12">
                                    <label cLabel for="field_magasin">Selectionner le magasin :</label>
                                    <select aria-label="Small select example" cSelect sizing="sm" 
                                        [(ngModel)]="selectedMagasinId" name="magasin" id="field_magasin">
                                        <option *ngFor="let magasin of magasins" [ngValue]="magasin.idMagasin">{{magasin.nomMagasin}}</option>
                                    </select>
                                </c-col>
                                <c-col md="12">
                                    <label cLabel for="field_acquisition">Selectionner le motif d'acquisition :</label>
                                    <select aria-label="Small select example" cSelect sizing="sm" 
                                        [(ngModel)]="entree.acquisition" name="acquisition" id="field_acquisition">
                                        <option *ngFor="let acquisition of referentials?.acquisitions" [ngValue]="acquisition?.valeur">{{acquisition?.libelle}}</option>
                                    </select>
                                </c-col>
                                <c-col md="12">
                                    <label cLabel for="field_exerciceBudgetaire">Exercice budgétaire :</label>
                                    <input cFormControl sizing="sm" id="field_exerciceBudgetaire" type="text" 
                                        [(ngModel)]="entree.exerciceBudgetaire" name="exerciceBudgetaire"/>
                                </c-col>
                                <c-col md="6">
                                    <label cLabel for="field_dateEntree">Date d'entrée :</label>
                                    <input cFormControl sizing="sm" id="field_dateEntree" type="date" 
                                        [(ngModel)]="entree.dateEntree" name="dateEntree" [disabled]="true"/>
                                </c-col>
                                <c-col md="6">
                                    <label cLabel for="field_dateReception">Date de réception :</label>
                                    <input cFormControl sizing="sm" id="field_dateReception" type="date" 
                                        [(ngModel)]="entree.dateReception" name="dateReception"/>
                                </c-col>
                            </c-row>
                        </fieldset>
                    </c-col>
                    <c-col md="8">
                      <c-row>
                        <c-col md="12">
                          <fieldset class="mb-3 p-2" style="border: solid 1.5px; border-radius: 3px;">
                            <legend cLabel="col" class="pt-0">Lignes de la commande</legend>
                            <table [striped]="true" cTable>
                              <thead>
                                <tr>
                                  <th scope="col">N°</th>
                                  <th scope="col">Médaille</th>
                                  <th scope="col">Quantité</th>
                                  <th scope="col">Prix unitaire</th>
                                  <th scope="col">Montant</th>
                                  <!-- <th scope="col">Cloture</th> -->
                                  <th scope="col">
                                      <button cButton color="primary" variant="outline" size="sm"
                                          (click)="openAddEditModal()">Nouvelle ligne</button>
                                  </th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let ligne of entree.ligneEntrees; index as i">
                                  <td><span>{{i + 1}}</span></td>
                                  <td>
                                    <span>{{ligne.medaille?.nomComplet}}</span>
                                  </td>
                                  <td>
                                    <span>{{ligne.quantiteLigne}}</span>
                                  </td>
                                  <td>
                                    <span>{{ligne.prixUnitaire}}</span>
                                  </td>
                                  <td>
                                    <span>{{ligne.montantLigne}}</span>
                                  </td>
                                  <!-- <td>
                                    <span>{{ligne.isCloseEntree ? 'Oui' : 'Non'}}</span>
                                  </td> -->
                                  <td>
                                      <button type="button" class="btn btn-outline-primary btn-sm" (click)="openAddEditModal(ligne)">
                                          <svg cIcon name="cilPen" size="sm"></svg>
                                      </button>
                                      <button type="button" class="btn btn-outline-danger btn-sm" style="margin-left: 2px;"
                                          (click)="confirmRemoveLine(ligne)">
                                          <i class="fa fa-remove"></i>
                                      </button>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </fieldset>
                        </c-col>
                        <c-col md="12">
                          <fieldset class="mb-3 p-2" style="border: solid 1.5px; border-radius: 3px;">
                            <legend cLabel="col" class="pt-0">Pièces justificatives</legend>
                            <table [striped]="true" cTable>
                              <thead>
                                <tr>
                                  <th scope="col">N°</th>
                                  <th scope="col">Type pièce</th>
                                  <th scope="col">Référence</th>
                                  <th scope="col">Pièce</th>
                                  <th scope="col">
                                      <button cButton color="primary" variant="outline" size="sm"
                                          (click)="openAddEditPjModal()">Ajouter</button>
                                  </th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let pj of pieceJointes; index as i">
                                  <td><span>{{i + 1}}</span></td>
                                  <td>
                                    <span>{{pj.typePiece}}</span>
                                  </td>
                                  <td>
                                    <span>{{pj.referencePiece}}</span>
                                  </td>
                                  <td>
                                    <span>{{pj.lienPiece}}</span>
                                  </td>
                                  <td>
                                      <button type="button" class="btn btn-outline-primary btn-sm" (click)="onPrevisualizePj(pj)"
                                        *ngIf="pj.fileBase64Content">
                                        <i class="fa fa-eye"></i>
                                      </button>
                                      <button type="button" class="btn btn-outline-primary btn-sm" style="margin-left: 2px;" (click)="openAddEditPjModal(pj)">
                                          <svg cIcon name="cilPen" size="sm"></svg>
                                      </button>
                                      <button type="button" class="btn btn-outline-danger btn-sm" style="margin-left: 2px;"
                                          (click)="removePj(pj)">
                                          <i class="fa fa-remove"></i>
                                      </button>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </fieldset>
                        </c-col>
                      </c-row>
                    </c-col>
                </c-row>
            </div>
            <div class="modal-footer">
                <button cButton color="success" variant="outline" class="float-end" size="sm"
                    (click)="save()">Enregistrer</button>
            </div>
        </form>   
    </c-card-body>
  </c-card>
  