<c-card class="mb-4">
    <c-card-header>
      <c-row>
        <c-col md="10">
          Distinction
        </c-col>
        <c-col md="2">
          <button cButton color="primary" variant="outline" class="float-end" size="sm"
            (click)="openAddEditModal()">Ajouter</button>
        </c-col>
      </c-row>
    </c-card-header>
    <c-card-body>
      <table [striped]="true" cTable>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Code</th>
            <th scope="col">Abreviation</th>
            <th scope="col">Désignation</th>
            <th scope="col">Catégorie</th>
            <th scope="col">Décret</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let distinction of distinctions; index as i">
            <td><span>{{i}}</span></td>
            <td><span>{{distinction.code}}</span></td>
            <td><span>{{distinction.abreviation}}</span></td>
            <td><span>{{distinction.libelle}}</span></td>
            <td><span>{{distinction.categoryDistinction}}</span></td>
            <td><span>{{distinction.referenceDecret}} du {{distinction.dateDecretCreation | date: "dd/MM/yyyy"}}</span></td>
            <td>
              <div class="">
                <button title="Modifier distinction" (click)="openAddEditModal(distinction)" class=""><i class="fa fa fa-pencil" style="color: orange;margin-right: 12px" aria-hidden="true"></i></button>
                <button title="Detail distinction" (click)="openModalDetail(distinction)" class=""><i class="fa fa-eye" style="color: green;margin-right: 12px" aria-hidden="true"></i></button>
                <button title="Supprimer distinction" (click)="removeDistinction(distinction)"><i class="fa fa-remove" style="color: orangered" aria-hidden="true"></i></button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </c-card-body>
  </c-card>
