<section class="page_404">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 ">
        <div class="col-sm-10 col-sm-offset-1  text-center">
          <div class="four_zero_four_bg">
            <h1 class="text-center ">401</h1>


          </div>

          <div class="contant_box_404">
            <h3 class="h2">
              Erreur de permission
            </h3>

            <p>Vous n'avez pas la permission d'accéder a cette page!</p>

            <a routerLink="/dashboard" class="link_404">Aller a la page d'accueil</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
