<c-card class="mb-4">
  <c-card-header>
    <c-row>
      <c-col md="10">
        Structures Bénéficiaires
      </c-col>
      <c-col md="2">
        <button cButton color="primary" variant="outline" class="float-end" size="sm"
          (click)="openAddEditModal()">Ajouter</button>
      </c-col>
    </c-row>
  </c-card-header>
  <c-card-body>
    <div *ngIf="beneficiaires && beneficiaires.length > 0">
      <table [striped]="true" cTable>
        <thead>
          <tr>
            <th scope="col">N°</th>
            <th scope="col">Sigle</th>
            <th scope="col">Raison sociale</th>
            <th scope="col">N° de téléphone fixe</th>
            <th scope="col">N° de téléphone mobile</th>
            <th scope="col">Email</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let beneficiaire of beneficiaires
            | paginate
                : {
                    itemsPerPage: itemsPerPage,
                    currentPage: page,
                    totalItems: totalItems
                  }; index as i">
            <td><span>{{i + 1}}</span></td>
            <td>
              <span>{{beneficiaire.sigle}}</span>
            </td>
            <td>
              <span>{{beneficiaire.raisonSociale}}</span>
            </td>
            <td>
              <span>{{beneficiaire.telephoneFix}}</span>
            </td>
            <td>
              <span>{{beneficiaire.telephoneMobile}}</span>
            </td>
            <td>
              <span>{{beneficiaire.email}}</span>
            </td>
            <td>
              <button class="btn btn-outline-primary btn-sm" type="button" (click)="openAddEditModal(beneficiaire)">
                <svg cIcon name="cilPen" size="sm"></svg>
              </button>
              <button class="btn btn-outline-info btn-sm" type="button" style="margin-left: 2px;" 
                (click)="openDetailModal(beneficiaire)">
                <i class="fa fa-eye"></i>
              </button>
              <button class="btn btn-outline-danger btn-sm" type="button" style="margin-left: 2px;"
                (click)="confirmDeleteItem(beneficiaire)">
                <i class="fa fa-remove"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-center">
        <pagination-controls
          previousLabel= "{{previousLabel}}"
          nextLabel= "{{nextLabel}}"
          (pageChange)="onTableDataChange($event)"
        >
        </pagination-controls>
      </div>
    </div>
    <div *ngIf="beneficiaires && beneficiaires.length == 0">
      <c-alert color="warning">Aucun enregistrement trouvé!</c-alert>
    </div>
  </c-card-body>
</c-card>
