<!--<c-header class="mb-4 d-print-none" position="sticky">-->
<ng-container>
  <c-container [fluid]="true">
    <button
      toggle="visible"
      cHeaderToggler
      [cSidebarToggle]="sidebarId"
      class="ps-1"
    >
      <svg cIcon
        name="cilMenu"
        size="lg"
      ></svg>
    </button>
    <c-header-nav class="d-none d-lg-flex me-auto text-white">
      <!--{{utilisateur.nom +" "+ utilisateur.prenom }}-->
      <h2>{{"BIENVENUE SUR LA PLATEFORME DE GESTION DES MEDAILLES"}}</h2>
    </c-header-nav>
    <c-header-nav class="ms-3">
      {{utilisateur.nom +" "+ utilisateur.prenom }} 
      <ng-container *ngTemplateOutlet="userDropdown"></ng-container> 
    </c-header-nav>
    
  </c-container>

</ng-container>
<ng-template #userDropdown>
  <c-dropdown alignment="end" variant="nav-item">
    <button
      cButton
      color=""
      [caret]="false"
      cDropdownToggle
      class="py-0"
    >

      <c-avatar
        cTextColor="primary"
        shape="rounded-1"
        size="md"
        src="./assets/img/avatars/profil2.PNG"
        status="success"
      >
      </c-avatar>
      
    </button>
    <ul cDropdownMenu class="pt-0 pr-5 w-auto">
      <li>
        <h6 cDropdownHeader class="bg-light fw-semibold py-2 text-center">{{utilisateur.login}} </h6>
      </li>
      <li>
        <button class="btn btn-success" (click)="logout()" cDropdownItem>
          <svg cIcon class="me-2" name="cilTask"></svg>
          Se deconnecter
        </button>
      </li>
      <li>
        <button class="btn btn-success" (click)="goToProfile()" cDropdownItem>
          <svg cIcon class="me-2" name="cilTask"></svg>
          Mon compte
        </button>
      </li>
      <!--<li>
        <a routerLink="./" cDropdownItem>
          <svg cIcon class="me-2" name="cilSettings"></svg>
          Paramètres
        </a>
      </li>-->
    </ul>
  </c-dropdown>
</ng-template>

