<div class="card">
    <div class="modal-header text-white">
        <h4 class="modal-tile">Ajouter/Modifier un dépot</h4>
        <button style="color: white;" cButton class="close btn-outline-danger bg-danger" aria-label="Close" (click)="close();"> 
            <span aria-hidden="true">X</span>
        </button>
    </div>
    <form name="addEditForm" role="form" novalidate #addEditForm="ngForm">
        <div class="modal-body">
            <c-row>
                <label cLabel for="field_nom">Nom :</label>
                <input cFormControl sizing="sm" id="field_nom" type="text" 
                        [(ngModel)]="depot.nomDepot" name="nom"/>
            </c-row>
            <c-row>
                <label cLabel for="field_description">Description :</label>
                <input cFormControl sizing="sm" id="field_description" type="text" [(ngModel)]="depot.description" name="description"/>
            </c-row>
        </div>
        <div class="modal-footer">
            <button cButton color="success" variant="outline" class="float-end" size="sm"
                (click)="save()">Enregistrer</button>
        </div>
    </form>
</div>