<c-card class="mb-4">
    <c-card-header>
      <c-row>
        <c-col md="10">
          Grades et Dignités
        </c-col>
        <c-col md="2">
          <button cButton color="primary" variant="outline" class="float-end" size="sm"
            (click)="openAddEditModal()">Ajouter</button>
        </c-col>
      </c-row>
    </c-card-header>
    <c-card-body>
      <table [striped]="true" cTable>
        <thead>
          <tr>
            <th scope="col"  >#</th>
            <th scope="col" width="20%">Code</th>
            <th scope="col" width="20%">Type</th>
            <th scope="col" width="40%">Désignation</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let grade of grades; index as i">
            <td><span>{{i}}</span></td>
            <td><span>{{grade.code}}</span></td>
            <td><span>{{grade.typeGrade}}</span></td>
            <td><span>{{grade.libelle}}</span></td>
            <td>
              <div class="">
                <button title="Modifier distinction" (click)="openAddEditModal(grade)" class=""><i class="fa fa fa-pencil" style="color: orange;margin-right: 12px" aria-hidden="true"></i></button>
                <button title="Detail distinction" (click)="openModalDetail(grade)" class=""><i class="fa fa-eye" style="color: green;margin-right: 12px" aria-hidden="true"></i></button>
                <button title="Supprimer distinction" (click)="removeGrade(grade)"><i class="fa fa-remove" style="color: orangered" aria-hidden="true"></i></button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </c-card-body>
  </c-card>
