
<c-card class="mb-4">
  <c-card-header>
    <c-row>
      <c-col md="10">
        Médailles
      </c-col>
      <c-col md="2">
        <button cButton color="primary" variant="outline" class="float-end" size="sm"
                (click)="openAddEditModal()">Ajouter</button>
      </c-col>
    </c-row>
  </c-card-header>
  <c-card-body>
    <c-row>
      <c-col md="3" *ngFor="let item of medailles">
        <ul >
          <li class="card" style="height: 250px">
            <img src="{{ 'data:image/jpeg;base64,' +item.image }}" alt=''>
            <div class="mt-4">
              <button title="Modifier medaille" (click)="openAddEditModal(item)" class=""><i class="fa fa fa-pencil" style="color: orange;margin-right: 12px" aria-hidden="true"></i></button>
              <button title="Detail medaille" (click)="openModalDetail(item)" class=""><i class="fa fa fa-eye" style="color: green;margin-right: 12px" aria-hidden="true"></i></button>
              <button title="Supprimer medaille" (click)="removeMedaille(item)" class=""><i class="fa fa fa-remove" style="color: orangered;margin-right: 12px" aria-hidden="true"></i></button>
            </div>
            <button type="button" class="btn btn-outline-dark mt-4">
              {{item.nomComplet}} :  <span class="badge badge-light" style="color: orangered; font-weight: bold;font-size: 16px">{{item.stock}}</span>
            </button>
          </li>
        </ul>
      </c-col>
    </c-row>


  </c-card-body>
</c-card>
