<div class="card">
    <div class="modal-header text-white " style="background-color: #538136">
        <h4 class="justify-content-center"><span class="justify-content-center">Détail de la medaille</span> </h4>
        <button style="color: white;" cButton class="close btn-outline-danger bg-danger" aria-label="Close"
                (click)="close();">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form name="addEditForm" role="form" novalidate #addEditForm="ngForm">
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                  <fieldset class="mb-3 p-2" style="border: solid 1.5px; border-radius: 3px;">
                    <legend cLabel="col" class="pt-0">Information du profil</legend>
                    <div class="table-responsive">
                        <table class="table table-sm no-border">
                            <tbody>
                            <tr>
                                <th>Libelle</th>
                                <td>: {{medaille.nomComplet}}</td>
                                <th>Distinction</th>
                                <td>: {{ medaille.distinction?.libelle}}</td>
                                <th>Grade</th>
                                <td>: {{ medaille.grade?.libelle}}</td>
                            </tr>
                            <tr>
                                <th>Description</th>
                                <td>: {{medaille.description}}</td>
                                <th>Quantite</th>
                                <td>: {{ medaille.stock}}</td>
                                <th>Code</th>
                                <td>: {{ medaille.code}}</td>
                            </tr>
                        </table>
                    </div>
                  </fieldset>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                  <fieldset class="mb-3 p-2" style="border: solid 1.5px; border-radius: 3px;height: 250px">
                    <legend cLabel="col" class="pt-0">PHOTO catalogue</legend>
                    <div class="table-responsive">
                        <table class="table table-sm no-border">
                          <tbody>
                          <img  style="height: 220px" src="{{ 'data:image/jpeg;base64,' +medaille.image }}" alt=''>
                          </tbody>

                        </table>
                    </div>
                  </fieldset>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button cButton color="success" variant="outline" class="float-end" size="sm"
                    (click)="close()">Fermer
            </button>
        </div>
    </form>
</div>
