<c-card class="mb-4">
  <c-card-header>
    <c-row>
      <c-col md="10">
        Statistique sur les entrées
      </c-col>
    </c-row>
  </c-card-header>
  <c-card-body>
    <form name="addEditForm" role="form" novalidate #addEditForm="ngForm">
      <div class="modal-body">
        <c-row>
          <c-col md="3">
            <fieldset class="mb-3 p-2" style="border: solid 1.5px; border-radius: 3px;">
              <legend cLabel="col" class="pt-0">Informations sur l'entrée</legend>
              <c-row>
                <c-col md="12">
                  <label cLabel for="field_fournisseur">Selectionner le fournisseur :</label>
                  <select aria-label="Small select example" cSelect sizing="sm" [(ngModel)]="filterEntree.fournisseur"
                          name="fournisseur" id="field_fournisseur">
                    <option *ngFor="let fournisseur of fournisseurs" [ngValue]="fournisseur.idFournisseur">{{ fournisseur.libelle }}</option>
                  </select>
                </c-col>

                <c-col md="12">
                  <label cLabel for="field_exerciceBudgetaire">Année :</label>
                  <input cFormControl sizing="sm" id="field_exerciceBudgetaire" type="text" [(ngModel)]="filterEntree.annee"
                          name="exerciceBudgetaire"/>
                </c-col>
                <c-col md="12">
                  <button class="mt-4 btn btn-success btn-sm btn-block text-white" (click)="getAllCommandes()"><i class="fa fa-search"></i> Rechercher</button>
                </c-col>
              </c-row>
            </fieldset>
          </c-col>
          <c-col md="9">
            <fieldset class="mb-3 p-2" style="border: solid 1.5px; border-radius: 3px;">
              <legend cLabel="col" class="text-success text-center">Liste des entrées</legend>
              <table [striped]="true" cTable *ngIf="commandes.length >0">
                <thead>
                <tr>
                  <th scope="col">N°</th>
                  <th scope="col">Date entrée</th>
                  <th scope="col">Fournisseur</th>
                  <th scope="col">Acquisition</th>
                  <th scope="col">Magasin</th>
                  <th scope="col">Date reception</th>
                  <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let ligne of commandes; index as i">
                  <td><span>{{i + 1}}</span></td>
                  <td>
                    <span>{{ligne.dateEntree | date:"dd-MM-yyyy"}}</span>
                  </td>
                  <td>
                    <span>{{ligne.fournisseur?.libelle}}</span>
                  </td>
                  <td>
                    <span>{{ligne.acquisition}}</span>
                  </td>
                  <td>
                    <span>{{ligne.magasin?.nomMagasin}}</span>
                  </td>
                  <td>
                    <span>{{ligne.dateReception | date:"dd-MM-yyyy"}}</span>
                  </td>
                  <td>
                    <button class="btn btn-success btn-sm float-end text-white" (click)="exportToPdf(ligne)"><i class="fa fa-print"></i> Imprimer</button>
                  </td>
                </tr>
                </tbody>
              </table>
              <div class="alert alert-warning text-center" *ngIf="commandes.length == 0">Aucune donnée</div>
            </fieldset>
          </c-col>
        </c-row>
      </div>
      <div class="modal-footer">
      </div>
    </form>
  </c-card-body>
</c-card>
