<!--
<ul class="card-wrapper">
  <li class="card">
    <img src='assets/images/folder.png' alt=''>
    <div class="">
      <button class="btn btn-outline-light"><i class="fa fa-2x fa-pencil mr-4" style="color: orange"></i></button>
      <button class="btn btn-outline-light"><i class="fa fa-2x fa-remove ml-4" style="color: orangered"></i></button>
      <button class="btn btn-outline-light"><i class="fa fa-2x fa-eye ml-4" style="color: dimgray"></i></button>
    </div>
    <button type="button" class="btn btn-outline-info mt-4">
      Officiers :  <span class="badge badge-light" style="color: orangered; font-weight: bold;font-size: 16px">10</span>
    </button>
  </li>
  <li class="card">
    <img src='assets/images/folder.png' alt=''>
    <div class="">
      <button class="btn btn-outline-light"><i class="fa fa-2x fa-pencil mr-4" style="color: orange"></i></button>
      <button class="btn btn-outline-light"><i class="fa fa-2x fa-remove ml-4" style="color: orangered"></i></button>
      <button class="btn btn-outline-light"><i class="fa fa-2x fa-eye ml-4" style="color: dimgray"></i></button>
    </div>
    <button type="button" class="btn btn-outline-info mt-4">
      Non Officiers :  <span class="badge badge-light" style="color: orangered; font-weight: bold;font-size: 16px">10</span>
    </button>
  </li>
  <li class="card">
    <img src='assets/images/folder.png' alt=''>
    <div class="">
      <button class="btn btn-outline-light"><i class="fa fa-2x fa-pencil mr-4" style="color: orange"></i></button>
      <button class="btn btn-outline-light"><i class="fa fa-2x fa-remove ml-4" style="color: orangered"></i></button>
      <button class="btn btn-outline-light"><i class="fa fa-2x fa-eye ml-4" style="color: dimgray"></i></button>
    </div>
    <button type="button" class="btn btn-outline-info mt-4">
      Sapeurs-Pompiers :  <span class="badge badge-light" style="color: orangered; font-weight: bold;font-size: 16px">10</span>
    </button>
  </li>
  <li class="card">
    <img src='assets/images/folder.png' alt=''>
    <div class="">
      <button class="btn btn-outline-light"><i class="fa fa-2x fa-pencil mr-4" style="color: orange"></i></button>
      <button class="btn btn-outline-light"><i class="fa fa-2x fa-remove ml-4" style="color: orangered"></i></button>
      <button class="btn btn-outline-light"><i class="fa fa-2x fa-eye ml-4" style="color: dimgray"></i></button>
    </div>
    <button type="button" class="btn btn-outline-info mt-4">
      Forces de Défense et de Sécurité :  <span class="badge badge-light" style="color: orangered; font-weight: bold;font-size: 16px">10</span>
    </button>
  </li>
  <li class="card">
    <img src='assets/images/folder.png' alt=''>
    <div class="">
      <button class="btn btn-outline-light"><i class="fa fa-2x fa-pencil mr-4" style="color: orange"></i></button>
      <button class="btn btn-outline-light"><i class="fa fa-2x fa-remove ml-4" style="color: orangered"></i></button>
      <button class="btn btn-outline-light"><i class="fa fa-2x fa-eye ml-4" style="color: dimgray"></i></button>

    </div>
    <button type="button" class="btn btn-outline-info mt-4">
      Police :  <span class="badge badge-light" style="color: orangered; font-weight: bold;font-size: 16px">10</span>
    </button>
  </li>
  <li class="card">
    <img src='assets/images/folder.png' alt=''>
    <div class="">
      <button class="btn btn-outline-light"><i class="fa fa-2x fa-pencil mr-4" style="color: orange"></i></button>
      <button class="btn btn-outline-light"><i class="fa fa-2x fa-remove ml-4" style="color: orangered"></i></button>
      <button class="btn btn-outline-light"><i class="fa fa-2x fa-eye ml-4" style="color: dimgray"></i></button>

    </div>
    <button type="button" class="btn btn-outline-info mt-4">
      Douanes :  <span class="badge badge-light" style="color: orangered; font-weight: bold;font-size: 16px">10</span>
    </button>
  </li>
  <li class="card">
    <img src='assets/images/folder.png' alt=''>
    <div class="">
      <button class="btn btn-outline-light"><i class="fa fa-2x fa-pencil mr-4" style="color: orange"></i></button>
      <button class="btn btn-outline-light"><i class="fa fa-2x fa-remove ml-4" style="color: orangered"></i></button>
      <button class="btn btn-outline-light"><i class="fa fa-2x fa-eye ml-4" style="color: dimgray"></i></button>

    </div>
    <button type="button" class="btn btn-outline-info mt-4">
      Eaux et Forêts :  <span class="badge badge-light" style="color: orangered; font-weight: bold;font-size: 16px">10</span>
    </button>
  </li>
  <li class="card">
    <img src='assets/images/folder.png' alt=''>
    <div class="">
      <button class="btn btn-outline-light"><i class="fa fa-2x fa-pencil mr-4" style="color: orange"></i></button>
      <button class="btn btn-outline-light"><i class="fa fa-2x fa-remove ml-4" style="color: orangered"></i></button>
      <button class="btn btn-outline-light"><i class="fa fa-2x fa-eye ml-4" style="color: dimgray"></i></button>

    </div>
    <button type="button" class="btn btn-outline-info mt-4">
      Garde de Sécurité Pénitentiaire :  <span class="badge badge-light" style="color: orangered; font-weight: bold;font-size: 16px">10</span>
    </button>
  </li>
  <li class="card">
    <img src='assets/images/folder.png' alt=''>
    <div class="">
      <button class="btn btn-outline-light"><i class="fa fa-2x fa-pencil mr-4" style="color: orange"></i></button>
      <button class="btn btn-outline-light"><i class="fa fa-2x fa-remove ml-4" style="color: orangered"></i></button>
      <button class="btn btn-outline-light"><i class="fa fa-2x fa-eye ml-4" style="color: dimgray"></i></button>

    </div>
    <button type="button" class="btn btn-outline-info mt-4">
      Collectivités Locales :  <span class="badge badge-light" style="color: orangered; font-weight: bold;font-size: 16px">10</span>
    </button>
  </li>
</ul>
-->

<c-card class="mb-4">
  <c-card-header>
    <c-row>
      <c-col md="10">
        Privilèges
      </c-col>
    </c-row>
  </c-card-header>
  <c-card-body>
    <table [striped]="true" cTable>
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Code</th>
        <th scope="col">Libelle</th>
        <th scope="col">Description</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let droit of privileges; index as i">
        <td><span>{{i}}</span></td>
        <td>
          <span>{{droit.code}}</span>
        </td>
        <td>
          <span>{{droit.libelle}}</span>
        </td>
        <td>
          <span>{{droit.description}}</span>
        </td>
      </tr>
      </tbody>
    </table>
  </c-card-body>
</c-card>

