<c-card class="mb-4">
    <c-card-header class="text-white">
      <c-row>
        <c-col md="10">
          Détails / Traitement de l'entrée N°: {{entree!.numeroCmd}}
        </c-col>
        <c-col md="2">
          <button cButton color="info" variant="outline" class="float-end" size="sm"
            [routerLink]="['/mouvement/entree']">Retour</button>
        </c-col>
      </c-row>
    </c-card-header>
    <c-card-body>
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
            <li [ngbNavItem]="1">
                <button ngbNavLink>Informations sur l'entrée</button>
                <ng-template ngbNavContent>
                    <c-row>
                        <c-col md="6">
                            <c-row>
                                <c-col md="12">
                                    <fieldset class="mb-3 p-2" style="border: solid 1.5px; border-radius: 3px;">
                                        <legend cLabel="col" class="pt-0">Général</legend>
                                        <div class="table-responsive">
                                            <table class="table table-sm no-border">
                                                <tbody>
                                                    <tr>
                                                        <th>Date d'entrée</th>
                                                        <td>{{': ' + entree!.dateEntree }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Date de réception</th>
                                                        <td>{{': ' + entree?.dateReception }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Exercice budgétaire</th>
                                                        <td>{{': ' + entree?.exerciceBudgetaire }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Motif d'acquisition</th>
                                                        <td>{{': ' + getAcquisitionLabel(entree?.acquisition!)}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Statut</th>
                                                        <td>{{': ' + getStatusLabel(entree?.status!)}}</td>
                                                    </tr>
                                                    <tr *ngIf="entree?.status == referentials?.mvtStatus[2].valeur">
                                                        <th>Observaton :</th>
                                                        <td>
                                                            <textarea class="form-control" name="observation" id="field_observation" rows="2" [value]="entree?.observation" [readOnly]="true"></textarea>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </fieldset>
                                </c-col>
                                <c-col md="12">
                                    <fieldset class="mb-3 p-2" style="border: solid 1.5px; border-radius: 3px;">
                                        <legend cLabel="col" class="pt-0">Magasin</legend>
                                        <div class="table-responsive">
                                            <table class="table table-sm no-border">
                                                <tbody>
                                                    <tr>
                                                        <th>Depôt</th>
                                                        <td>{{': ' + entree?.magasin?.depot?.nomDepot }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Nom</th>
                                                        <td>{{': ' + entree?.magasin?.nomMagasin }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Capacité</th>
                                                        <td>{{': ' + entree?.magasin?.capacite }}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </fieldset>
                                </c-col>
                            </c-row>
                        </c-col>
                        <c-col md="6">
                            <fieldset class="mb-3 p-2" style="border: solid 1.5px; border-radius: 3px;">
                                <legend cLabel="col" class="pt-0">Fournisseur</legend>
                                <div class="table-responsive">
                                    <table class="table table-sm no-border">
                                        <tbody>
                                            <tr>
                                                <th>Raison sociale</th>
                                                <td>{{': ' + entree!.fournisseur?.libelle }}</td>
                                            </tr>
                                            <tr>
                                                <th>Sigle</th>
                                                <td>{{': ' + entree?.fournisseur?.sigle }}</td>
                                            </tr>
                                            <tr>
                                                <th>N° IFU</th>
                                                <td>{{': ' + entree?.fournisseur?.numeroIfu }}</td>
                                            </tr>
                                            <tr>
                                                <th>N° de téléphone fixe</th>
                                                <td>{{': ' + entree?.fournisseur?.telephoneFix }}</td>
                                            </tr>
                                            <tr>
                                                <th>N° de téléphone mobile</th>
                                                <td>{{': ' + entree?.fournisseur?.numeroIfu }}</td>
                                            </tr>
                                            <tr>
                                                <th>Représentant</th>
                                                <td>{{': ' + entree?.fournisseur?.nomCompletPersonneRessource }}</td>
                                            </tr>
                                            <tr>
                                                <th>N° du représentant</th>
                                                <td>{{': ' + entree?.fournisseur?.telephonePersonneRessource }}</td>
                                            </tr>
                                            <tr>
                                                <th>Email du représentant</th>
                                                <td>{{': ' + entree?.fournisseur?.email }}</td>
                                            </tr>
                                            <tr>
                                                <th>Adresse :</th>
                                                <td>
                                                    <textarea class="form-control" name="adresse" id="field_adresse" rows="2" [value]="entree?.fournisseur?.adresse" [readOnly]="true"></textarea>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </fieldset>
                        </c-col>
                    </c-row>
                </ng-template>
            </li>
            <li [ngbNavItem]="2">
                <button ngbNavLink>Lignes de l'entrée</button>
                <ng-template ngbNavContent>
                    <div class="table-responsive" *ngIf="entree?.ligneEntrees && entree?.ligneEntrees!.length > 0">
                        <table [striped]="true" cTable>
                            <thead style="font-weight: bold;">
                              <tr>
                                <th scope="col">N°</th>
                                <th scope="col">Médaille(Désignation | Code | Sock disponible)</th>
                                <th scope="col">Quantité</th>
                                <th scope="col">Prix unitaire</th>
                                <th scope="col">Montant</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let ligne of entree!.ligneEntrees; index as i">
                                <td><span>{{i + 1}}</span></td>
                                <td>
                                  <span>{{ligne.medaille?.nomComplet + ' | ' + ligne.medaille?.code + ' | ' + ligne.medaille?.stock}}</span>
                                </td>
                                <td>
                                  <span>{{ligne.quantiteLigne}}</span>
                                </td>
                                <td>
                                  <span>{{ligne.prixUnitaire}}</span>
                                </td>
                                <td>
                                  <span>{{ligne.montantLigne}}</span>
                                </td>
                              </tr>
                            </tbody>
                        </table>
                    </div>
                    <div *ngIf="entree?.ligneEntrees && entree?.ligneEntrees!.length == 0">
                        <c-alert color="warning">Aucun de lignes associées à cette entrée!</c-alert>
                    </div>
                </ng-template>
            </li>
            <li [ngbNavItem]="3">
                <button ngbNavLink>Pièces justificatives</button>
                <ng-template ngbNavContent>
                    <div class="table-responsive" *ngIf="pieceJointes && pieceJointes.length > 0">
                        <table [striped]="true" cTable>
                            <thead>
                              <tr>
                                <th scope="col">N°</th>
                                <th scope="col">Type pièce</th>
                                <th scope="col">Référence</th>
                                <th scope="col">Pièce</th>
                                <th scope="col"></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let pj of pieceJointes; index as i">
                                <td><span>{{i + 1}}</span></td>
                                <td>
                                  <span>{{pj.typePiece}}</span>
                                </td>
                                <td>
                                  <span>{{pj.referencePiece}}</span>
                                </td>
                                <td>
                                  <span>{{pj.lienPiece}}</span>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-outline-primary btn-sm" (click)="onPrevisualizePj(pj)"
                                        *ngIf="pj.fileBase64Content">
                                        <i class="fa fa-eye"></i>
                                    </button>
                                </td>
                              </tr>
                            </tbody>
                        </table>
                    </div>
                    <div *ngIf="pieceJointes && pieceJointes.length == 0">
                        <c-alert color="warning">Aucune pièces jointes associées à cette sortie!</c-alert>
                    </div>
                    <hr>
                    <div>
                        <div class="float-end" *ngIf="entree!.status != referentials.mvtStatus[1].valeur">
                            <button cButton color="primary" variant="outline" size="sm"
                                (click)="rejeter(entree!)">Rejeter l'entrée</button>
                            <button cButton color="success" variant="outline" class="mx-2" size="sm"
                                (click)="valider(entree!)">Valider l'entrée</button>
                        </div>
                    </div>
                </ng-template>
            </li>
        </ul>
        
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </c-card-body>
  </c-card>
  